## Procedures

| Procedure ID | Name | Tactic |
|---|---|---|
{% for proc in procedures %}
| {{ proc.id }} | {{ proc.name }} | {{ tactics | join(", ") }} |
{% endfor %}

{% for proc in procedures %}
### Procedure {{ proc.letter }}: {{ proc.name }}

**Summary:** {{ proc.summary or "[TODO: Write procedure summary]" }}

**Distinguishing Operations:** {{ proc.distinguishing_operations or "[TODO]" }}

{% endfor %}
